name: Build and Publish Docker image

on:
  push:
    branches:
      - master

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write # needed to push to GHCR

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push Docker image for bot
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ghcr.io/gossenreiterthomas/thorsten-bot:latest
      - name: Build and push Docker image for Ollama
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          file: ./Dockerfile_ollama
          tags: ghcr.io/gossenreiterthomas/thorsten-ollama:latest
